<template>
<div class="modal fade" tabindex="-1" id="createCategoryModal">
    <div class="modal-dialog">
        <form class="modal-content" @submit.prevent="submit">
            <div class="modal-header">
                <h5 class="modal-title">Kategória {{ newForm.id ? 'szerkesztése' : 'létrehozása' }}</h5>
                <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="categoryInput">{{ newForm.id ? 'Kategória új neve:' : 'Új kategória neve:' }}</label>
                    <input type="text" id="categoryInput" class="form-control" v-model="newForm.name" placeholder="Kategória neve">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Mégse</button>
                <button type="submit" class="btn btn-primary">{{ newForm.id ? 'Kategória szerkesztése' : 'Kategória létrehozása' }}</button>
            </div>
        </form>
    </div>
</div>
    
</template>

<script>
export default {
    props: ['mod'],
    data() {
        return { newForm: {} };
    },
    methods: {
        open(mod) {
            this.newForm = mod ? JSON.parse(JSON.stringify(mod)) : {};
            $("#createCategoryModal").modal();
        },
        submit() {
            if (this.newForm.id) {
                fetchApi('PATCH', './admin/categories/'+encodeURIComponent(this.newForm.id), this.newForm, resp => {
                    this.$emit('updated', resp);
                });
            } else {
                fetchApi('POST', './admin/categories', this.newForm, resp => {
                    this.$emit('created', resp);
                });
            }
            $("#createCategoryModal").modal('hide');
        }
    }
}
</script>
