<template>
    <div class="modal fade" id="createUserModal" tabindex="-1">
        <form class="modal-dialog" @submit.prevent="submit">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{role === 2 ? 'Fotós' : 'Zsűri'}} létrehozása</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="usernameInput">Felhasználónév:</label>
                    <input type="text" class="form-control" id="usernameInput" v-model="newForm.username" placeholder="Felhasználónév">
                </div>
                <div class="form-group">
                    <label for="passwordInput">Jelszó:</label>
                    <input type="password" class="form-control" id="passwordInput" v-model="newForm.password" placeholder="Jelszó">
                </div>
                <div class="form-group">
                    <label for="passwordVerificationInput">Jelszó:</label>
                    <input type="password" class="form-control" id="passwordVerificationInput" v-model="newForm.password_confirmation" placeholder="Jelszó">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Bezárás</button>
                <button type="submit" class="btn btn-primary">Fiók létrehozása</button>
            </div>
            </div>
        </form>
    </div>
</template>

<script>
export default {
    props: ['role'],
    data() {
        return { newForm: {} };
    },
    watch: {
        role(role) {
            this.newForm.role = role;
        }
    },
    methods: {
        submit() {
            fetchApi('POST', './admin/users', this.newForm, resp => {
                $("#createUserModal").modal('hide');
                this.$emit('created', resp);
            });
        }
    }
}
</script>