<template>
    <div class="modal fade" id="deleteCategoryModal" tabindex="-1">
        <form class="modal-dialog" @submit.prevent="submit">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Kategória törlése</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="mb-0">Biztosan törölni szeretné ezt a kategóriat?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Mégse</button>
                <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
            </div>
            </div>
        </form>
    </div>
</template>

<script>
export default {
    props: ['id'],
    methods: {
        submit() {
            fetchApi('DELETE', './admin/categories/'+encodeURIComponent(this.id), null, () => {
                $("#deleteCategoryModal").modal('hide');
                this.$emit('deleted');
            });
        }
    }
}
</script>
