<template>
    <div class="modal fade" id="myImageModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg" >
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">A kép értékelései</h5>
                    <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                    <img :src="image.location" class="img-fluid">
                    </div>

                    <div class="btn-group rounded-0 d-flex justify-content-between m-1" role="group">
                        <!-- <button type="button" class="btn btn-primary rounded-0">Vágás<i class="fas fa-cut ml-1"></i></button> -->
                        <p class="mb-0 ml-2 align-self-center">{{Math.round(image.file_size/1024)}} kB</p>
                        <button type="button" class="btn btn-danger rounded-0" @click="() => del(image.id)">Törlés<i class="fas fa-trash-alt ml-1"></i></button>
                        <!-- <button type="button" class="btn btn-primary rounded-0">Tömörítés<i class="fas fa-compress ml-1"></i></button> -->
                    </div>

                        
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">A zsűri neve</th>
                                <th scope="col">Adott sorszám</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="rating in image.ratings" :key="rating.id">
                                <td>{{rating.user.username}}</td>
                                <td>{{rating.rating}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['image'],
    methods: {
        del(id) {
            fetchApi('DELETE', './photographer/images/'+encodeURIComponent(id), null, () => {
                this.$emit('deleted', id);
                $("#myImageModal").modal('hide');
            });
        }
    }
}
</script>



<style scoped>

h5{
color: #fff;
padding-left: 1rem;
}


table{
    margin-bottom: 0rem!important;
}
td{
    border-bottom: 1px solid #222;
}
th{
    max-width: 100%;
}


#exampleModalLabel{
    text-align: center;
    color: #fff;
    

}
.modal-header{
    background-color: #3490dc!important;
    border: 0rem!important;
}
.modal-footer{
    border-top: 0rem!important;
}

.modal-body{
    padding: 0rem!important;
}

</style>
