<template>
    <div class="text-center">
        <nav aria-label="Page navigation" class="d-inline-block">
            <ul class="pagination">
                <li class="page-item" v-bind:class="{ disabled: currentPage === 1 }"><button v-on:click="$emit('chpage', currentPage-1)" class="page-link">Previous</button></li>
                <li class="page-item" v-bind:class="{ active: currentPage === page }" :key="page" v-for="page in pagesShown">
                    <button v-on:click="$emit('chpage', page)" class="page-link">{{ page }}</button>
                </li>
                <li class="page-item" v-bind:class="{ disabled: currentPage === totalPages }"><button v-on:click="$emit('chpage', currentPage+1)" class="page-link">Next</button></li>
            </ul>
        </nav>
    </div>
</template>

<script>
export default {
    computed: {
        pagesShown () {
            // This is VERY ugly, I'm sorry :c
            if (this.currentPage === 1) {
                return [...Array(this.totalPages + 1).keys()].slice(1, 6);
            } else if (this.currentPage === 2) {
                return [...Array(this.totalPages + 1).keys()].slice(1, 6);
            } else {
                return [...Array(this.totalPages + 1).keys()].slice(this.currentPage - 2, this.currentPage + 3);
            }
        }
    },
    props: ['currentPage', 'totalPages']
}
</script>