<template>
    <tr>
        <td>{{user.id}}</td>
        <td>{{user.username}}</td>
        <td v-if="user.role == 2"></td>
        <td class="text-right"><button class="btn btn-danger" @click="$emit('delete', user.id)"><i class="fas fa-trash-alt"></i></button></td>
    </tr>
</template>

<script>
export default {
    props: ['user']
}
</script>

<style scoped>
td {
    vertical-align: middle!important;
}
</style>
