<template>
    <div class="modal fade" tabindex="-1" id='viewImageJuryModal'>
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content rounded-0">
                <div class="modal-body rounded-0 text-center">
                    <img :src="image.location"  class="img-fluid">      
                </div>
                <div class="modal-footer rounded-0">
                    <button type="button" class="btn btn-secondary btn-lg btn-block rounded-0" data-dismiss="modal"><i class="fas fa-times"></i></button> 
                </div>
            </div>
        </div>
    </div>

    
</template>

<script>
export default {
    props: ['image']
}
</script>
<style scoped>
    .modal-body{
        padding:0.1rem 0.1rem 0rem 0.1rem!important;      
    }
    .modal-footer{
        padding:0rem 0.1rem 0.1rem 0.1rem!important;
        border-top:0rem;
    }
</style>

