<template>
    <div class="modal fade" tabindex="-1" id="viewImageModal">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-body">

                    <div class="card">
                        <div class="card-header d-flex align-items-center justify-content-between">
                            <h3 class="title mb-0" v-if="image.user">{{image.user.username}}</h3>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i></button>
                        </div>
                        <div class="card-body text-center">
                            <img :src="image.location" class="img-fluid" alt="Responsive image">
                        </div>
                        <div class="card-footer d-flex justify-content-between">
                            <button type="button" class="btn btn-light"><i class="fas fa-thumbs-up text-primary"></i></button>
                            <button type="button" class="btn btn-primary"><i class="fas fa-thumbs-up mr-1"></i>2345</button>
                            <button type="button" class="btn btn-primary"><i class="fas fa-file-download"></i></button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['image']
}
</script>
<style scoped>
    i:hover{
        background-color:initial!important;
    }
    .modal-body{
        padding:0;
    }
    .card-body{
        padding:0rem;
    }
    
    .card-footer,.card-header{
        padding:0.5rem;
    }
</style>

