*{
	margin: 0;
	padding: 0;
	font-family: 'roboto', sans-serif;
}
body{
	
	background-image: url('../hatter.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
.main-section{
	margin: 0 auto;
	margin-top: 30%;
	padding: 0;
}
.modal-content{
	background-color: #3b4652;
	opacity: .85;
	padding: 0 1.125rem;
	border-radius: 1.875rem;
	box-shadow: 0px 0px 3px #848484;
}
.user-img{
	position: relative;
	bottom: 3.2rem;
}
.user-img img{
	height: 100%;
	width: 50%;
	border-radius: 5rem;
	box-shadow: 0px 0px 2px #848484;

}
.form-group{
	margin-bottom: 1.5625rem ;
}
.form-group input{
	height: 2.625rem;
	border-radius: 0.625rem;
	font-size: 0.8125rem;
	border: 0;
	padding-left: 3.375rem;
}
.form-group::before{
	font-family: 'Font Awesome 5 Free';
	content: "\f007";
	position: absolute;
	font-size: 1.375rem;
	padding-top: 0.125rem;
	left: 1.75rem;
	color: #555e60;
}
.form-group:last-of-type::before {
	font-family: 'Font Awesome 5 Free';
	content: "\f09c";

}
a {
    color: #EBEFF1;
	text-decoration: none;
}
a:hover{
	color: #EBEFF1;
	text-decoration: none;
}
.btn{
	background-color: #27c2a5;
	color: #EBEFF1;
	font-size: 1rem;
	padding: 0.4375rem 0.875rem;
	border-radius: 0.625rem;
	border-bottom: 4px solid #219882;
}
.btn:hover, .btn:focus{
	background-color: #25a890;
	border-bottom: 4px solid #25a890!important;
	color: #1B394B;
}
.svg-inline--fa{
	font-size: 1.25rem;
	margin-right: 0.4375rem;
}
.forgot{
	padding: 0.3125rem 0 1.5625rem;

}
.forgot a{
	color: #c2fbfe;
}

.forgot a:hover{
	text-decoration: underline;

}
#password::before{
	font-family: 'Font Awesome 5 Free';
	content: "\f09c"!important;
}