<template>
    <div>
        <create-category-modal @created="created" @updated="updated" ref="createCategoryModal"></create-category-modal>
        <delete-category-modal :id="willDelete" @deleted="deleted"></delete-category-modal>
        <table class="table table-light shadow-lg">
            <thead class="bg-primary">
                <tr>
                    <th scope="col" colspan="3" class="text-center"><h3 class="title text-light mb-0">Kategóriák</h3></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="cat in categories" :key="cat.id">
                    <td><h4 class="mb-0">{{cat.name}}</h4></td>
                    <td class="text-right"><button type="button" class="btn btn-primary" @click="() => openModify(cat)"><i class="fas fa-pencil-alt"></i></button></td>
                    <td class="text-right"><button type="button" class="btn btn-danger" @click="() => openDelete(cat.id)"><i class="fas fa-trash-alt"></i></button></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th scope="col" colspan="3" class="text-center">
                        <button type="button" class="btn btn-primary" @click="openCreate"><i class="fas fa-plus-square"></i></button>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
</template>

<script>
import CreateCategoryModal from '../components/CreateCategoryModal.vue';
import DeleteCategoryModal from '../components/DeleteCategoryModal.vue';

export default {
    data() {
        return { categories: [], willDelete: 0 };
    },
    components: {
        CreateCategoryModal,
        DeleteCategoryModal,
    },
    mounted() {
        fetchApi('GET', './admin/categories', null, resp => {
            this.categories = resp;
        });
    },
    methods: {
        openCreate() {
            this.$refs.createCategoryModal.open();
        },
        openModify(cat) {
            this.$refs.createCategoryModal.open(cat);
        },
        openDelete(id) {
            this.willDelete = id;
            $("#deleteCategoryModal").modal();
        },
        created(cat) {
            this.categories.push(cat);
        },
        updated(cat) {
            this.categories = this.categories.map(categ => {
                return cat.id === categ.id ? cat : categ;
            });
        },
        deleted() {
            this.categories.splice(this.categories.findIndex(x => x.id === this.willDelete), 1);
            this.willDelete = 0;
        }
    }
}
</script>
<style scoped>
    td{
        vertical-align: middle!important;
    }
</style>
