<template>


    <div>
        <view-image-guest-modal :image="selImg"></view-image-guest-modal>
        <div>
            <h3 class="title">Képek rendezése</h3>
            <ul class="nav nav-pills" id="myTab">
                <li class="nav-item">
                    <div class="nav-link active" id="cat1-tab" data-toggle="tab" href="#name">Fotós neve szerint</div>
                </li>
                <li class="nav-item">
                    <div class="nav-link" id="cat2-tab" data-toggle="tab" href="#cat">Kategória szerint</div>
                </li>
                <li class="nav-item">
                    <div class="nav-link" id="cat3-tab" data-toggle="tab" href="#like">Legjobban kedvelt</div>
                </li>
            </ul>
            <div class="tab-content shadow-lg" id="myTabContent">
                <div class="tab-pane fade show active" id="name">
                                            

                    

                    
                    <div class="input-group mt-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Nevek</label>
                        </div>
                        <select class="custom-select" v-model="selUser">
                            <option v-for="user in users" :key="user.id" :value="user.id">{{user.username}}</option>
                        </select>
                    </div>
                    <div class="card my-3">
                        <div class="card-header d-flex flex-wrap justify-content-between">
                            <h3 class="title mb-0 align-self-center">Fotós neve</h3>
                            <img v-if="selUser !== 0" :src="users[users.findIndex(x => x.id === selUser)].logo" class="float-right img-thumbnail">
                        </div>                            
                        <div class="card-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm" v-for="photo in photos" :key="photo.id">
                                        <img @click="() => openImage(photo)" :src="photo.thumbnail" class="img-thumbnail">
                                    </div>
                                </div>
                            </div>                             
                        </div>
                        <div class="card-footer">
                           <a hrf="javascript:scrollTo(0,0)" class="btn btn-primary text-white"> <i class="fas fa-arrow-circle-up mr-1"></i>Vissza a tetejére</a>
                        </div>  
                         </div>  



                </div>

                <div class="tab-pane fade" id="cat">


                    <div class="input-group mt-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Kategóriák</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01">
                            <option selected>Válasszon...</option>
                            <option value="1">Béla</option>
                            <option value="2">Sanyi</option>
                            <option value="3">Krisztina</option>
                        </select>
                    </div>
                    <div class="card my-3">
                        <div class="card-header d-flex flex-wrap justify-content-left">
                            <h3 class="title my-2">Kategória neve</h3>
                        </div>                            
                        <div class="card-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm">
                                        <img src="https://via.placeholder.com/200x200"  class="img-thumbnail">
                                    </div>
                                    <div class="col-sm">
                                        <img src="https://via.placeholder.com/200x200"  class="img-thumbnail">
                                    </div>
                                    <div class="col-sm">
                                        <img src="https://via.placeholder.com/200x200"  class="img-thumbnail">
                                    </div>
                                   <div class="col-sm">
                                       <img src="https://via.placeholder.com/200x200"  class="img-thumbnail">
                                    </div>
                                    <div class="col-sm">
                                        <img src="https://via.placeholder.com/200x200"  class="img-thumbnail">
                                    </div>
                                </div>
                            </div>                             
                        </div>
                        <div class="card-footer">
                           <a hrf="javascript:scrollTo(0,0)" class="btn btn-primary text-white"> <i class="fas fa-arrow-circle-up mr-1"></i>Vissza a tetejére</a>
                        </div>  
                    </div> 

                </div>



                <div class="tab-pane fade" id="like">
                    
                    

                    <div class="card my-3">
                        <div class="card-header d-flex flex-wrap justify-content-left">
                            <h3 class="title my-2">Legjobban kedvelt képek</h3>
                        </div>  
                        <div class="card-body">

                            

                            <div class="container">
                                <div class="row">
                                    
                                </div>
                            </div> 



                        </div>
                        <div class="card-footer">
                           <a hrf="javascript:scrollTo(0,0)" class="btn btn-primary text-white"> <i class="fas fa-arrow-circle-up mr-1"></i>Vissza a tetejére</a>
                        </div>  
                    </div> 


                </div>
            </div>
        </div>

    </div>
</template>

<script>
import ViewImageGuestModal from '../components/ViewImageGuestModal.vue';

export default {
    data() {
        return {photos: [], users: [], selUser: 0, selImg: {}};
    },
    components: {
        ViewImageGuestModal,
    },
    mounted() {
        fetchApi('GET', './guest/photographers', null, resp => {
            this.users = resp;
            this.selUser = this.users[0].id;
        });
    },
    methods: {
        openImage(image) {
            this.selImg = image;
            $("#viewImageModal").modal();
        }
    },
    watch: {
        selUser(id) {
            fetchApi('GET', './guest/photographers/'+encodeURIComponent(id), null, resp => {
                this.photos = resp;
            });
        }
    }
}
</script>


<style scoped>
.col-sm{
    background-color: transparent;
    color: white;
    padding:0;
    margin: 1rem;


}




</style>
