<template>
    <div>
        <div>
            <h3 class="title ">Galéria</h3>
                <div class="card my-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4 my-2" v-for="image in images" :key="image.id">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <img :src="image.thumbnail" class="img-thumbnail" @click="() => openImage(image)">
                                    </div>
                                    <div class="card-footer mt-0 d-flex flex-column flex-md-row justify-content-between interestbuttons">
                                        <button type="button" class="btn btn-primary mb-md-0 mb-1" @click="() => choose(image.id)"><i class="fas fa-thumbs-up"></i></button>
                                        <div class="btn btn-primary text-centered mb-md-0 mb-1" style="pointer-events:none">123 <i class="fas fa-thumbs-up"></i></div>
                                        <button type="button" class="btn btn-danger mb-md-0 mb-1" @click="() => openDelete(image.id)"><i class="fas fa-exclamation-triangle"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="card-footer">
                    <a href="javascript:scrollTo(0,0)" class="btn btn-primary text-white">Vissza a tetejére<i class="fas fa-arrow-circle-up ml-1"></i></a>
                </div>
            </div>
        </div>

        <!-- Modal -->
            <div class="modal fade" id="banImageModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Megerősítés</h5>
                    <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Biztos vagy benne, hogy ki akarod zárni a képet?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Mégse</button>
                    <button type="button" class="btn btn-danger" @click="del">Kizárom<i class="fas fa-gavel ml-1"></i></button>
                </div>
                </div>
            </div>
            </div>
        <view-image-jury-modal :image="selImage"></view-image-jury-modal>
    </div>
</template>

<script>
import ViewImageJuryModal from '../components/ViewImageJuryModal.vue';

export default {
    data() {
        return { images: [], selImage: {}, willDelete: 0 };
    },
    components: {
        ViewImageJuryModal,
    },
    mounted() {
        fetchApi('GET', './jury/images', null, resp => {
            this.images = resp;
        });
    },
    methods: {
        openImage(image) {
            this.selImage = image;
            $("#viewImageJuryModal").modal();
        },
        del() {
            fetchApi('DELETE', './jury/images/'+encodeURIComponent(this.willDelete), null, resp => {
                this.images.splice(this.images.findIndex(x => x.id === this.willDelete), 1);
                $("#banImageModal").modal('hide');
            });
        },
        openDelete(id) {
            this.willDelete = id;
            $("#banImageModal").modal();
        },
        choose(id) {
            fetchApi('POST', './jury/images/'+encodeURIComponent(id)+'/choose', null, () => {
                this.images.splice(this.images.findIndex(x => x.id === id), 1);
            });
        }
    }
}
</script>
<style scoped>

.interestbuttons{
    padding:0.3rem 0rem!important;
}
.card-body{

    padding: 0.75rem!important;
    padding-bottom:0rem!important;            
}

.img-thumbnail{

    border: 0rem!important;
    padding: 0rem!important;
     

}
.card-footer{
    background-color: transparent!important;
    border: 0rem!important;
    padding:0.75rem!important;
}

h3{
 background-color: #3490dc;
 color: #ffffff!important;
 padding-top: 0.5rem ;
 padding-bottom: 0.5rem ;
 text-align: center!important;
}



</style>
