<template>
    <div>
        <div class="input-group">
            <div class="custom-file">
                <label class="custom-file-label" for="logoFile">{{filename || "Logó kiválasztása"}}</label>
                <input type="file" @change="selectedFile" class="custom-file-input" accept="image/jpeg"
                    id="logoFile" ref="logoFile">
            </div>
            <div class="input-group-append">
                <button class="btn btn-outline-primary" type="button" @click="upload">Feltöltés</button>
            </div>  
        </div>
        <div class="text-center mt-4">
            <figure class="figure">
                <img v-if="logo" :src="logo" class="figure-img img-fluid" ref="logoImg">
                <figcaption class="figure-caption text-center">{{ logo ? 'A jelenlegi logó.' : 'Jelenleg nincs logód.' }}</figcaption>
            </figure>
        </div>
    </div>  
</template>

<script>
import Noty from 'noty';

export default {
    data() {
        return { logo: '', filename: null };
    },
    mounted() {
        fetchApi('GET', './photographer/logo', null, resp => {
            this.logo = resp;
        });
    },
    methods: {
        selectedFile(e) {
            this.filename = this.$refs.logoFile.value.split(/(\\|\/)/g).pop();
        },
        upload() {
            let fd = new FormData();
            fd.append('image', this.$refs.logoFile.files[0]);
            axios.post('./photographer/logo', fd, {
                onUploadProgress: (evt) => {
                    console.log(evt.loaded*100/evt.total);
                }
            }).then(() => {
                window.location.reload();
            }).catch(e => {
                if (e.response) {
                    let res = '';
                    for (const key in e.response.data) {
                        if (e.response.data.hasOwnProperty(key)) {
                            const elm = e.response.data[key];
                            res += elm + "\n";
                        }
                    }
                    new Noty({ type: 'error', timeout: 2000, text: res }).show();
                } else new Noty({ type: 'error', text: 'Server error' }).show();
            });
        }
    }
}
</script>

<style scoped>
.custom-file-label::after {
    content: 'Tallózás';
}
</style>
