<template>
    <div>
        <h2 class="card-title bg-primary mb-4 text-center text-white"> Általam értékelt képek </h2>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th><h3 class="title mb-0">Minősítendő képek</h3></th>
                        <th colspan="2" class="text-left"><button type="button" @click="save" class="btn btn-primary">Sorrend mentése</button></th>
                    </tr>                                
                </thead>
                <tbody>
                    <tr v-for="rating in ratings" :key="rating.id">
                        <td>
                            <img :src="rating.image.thumbnail" class="img-thumbnail" style="max-width: 100px">
                        </td>
                        <td class="text-right">
                            <input type="number" class="form-control" min="1" :max="ratings.length" v-model="rating.rating">
                        </td>
                        <td class="text-right">
                            <button type="button" class="btn btn-danger" @click="() => deselect(rating.id)"><i class="fas fa-thumbs-down"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return { ratings: [] };
    },
    mounted() {
        fetchApi('GET', './jury/ratings', null, resp => {
            this.ratings = resp;
        });
    },
    methods: {
        deselect(id) {
            fetchApi('DELETE', './jury/ratings/'+encodeURIComponent(id), null, resp => {
                this.ratings.splice(this.ratings.findIndex(x => x.id === id), 1);
            });
        },
        save() {
            let mapped = {};
            this.ratings.forEach(rating => {
                mapped[rating.id] = rating.rating;
            });
            fetchApi('POST', './jury/ratings', { ratings: mapped }, () => {
                window.location.hash = "#InterestPage";
            });
        }
    }
}
</script>
<style scoped>

.card-title{
   padding-top: 0.5rem;
    padding-bottom: 0.5rem;

}
</style>