<template>
    <div>
      
        <div class="card-deck">
            <div class="card mb-4">
                <img class="card-img-top" src="https://via.placeholder.com/400x400" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title  my-0">Card title</h5>
                    
                    
                </div>
            </div>
            <div class="card mb-4">
                <img class="card-img-top" src="https://via.placeholder.com/400x400" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title my-0">Card title</h5>
                   
                   
                </div>
            </div>
            <div class="card mb-4">
                <img class="card-img-top" src="https://via.placeholder.com/400x400" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title my-0">Card title</h5>
                    
                    
                </div>

                
            </div>
            <div class="d-none d-sm-block d-md-block d-lg-none" style="flex-basis: 100%">
            </div>
            <div class="card mb-4">
                <img class="card-img-top" src="https://via.placeholder.com/400x400" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title my-0">Card title</h5>
                   
                    
                </div>
            </div>
            <div class="card mb-4">
                <img class="card-img-top" src="https://via.placeholder.com/400x400" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title my-0">Card title</h5>
                   
                    
                </div>
            </div>
            <div class="card mb-4">
                <img class="card-img-top" src="https://via.placeholder.com/400x400" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title my-0">Card title</h5>
                   
                    
                </div>
            </div>
        </div>


    </div>



</template>

<script>
export default {

}
</script>

<style scoped>

.card-body{
 padding: 0rem;
}

.card-title{
padding-top: 0.5rem; 
 text-align: center; 
 padding-bottom: 0.5rem;  
}


</style>
