<template>
<div>
    <h2 class="card-title bg-primary mb-4 text-center text-white">Galériám</h2>
    <form class="shadow-lg mb-3" @submit.prevent="upload" method="POST" enctype="multipart/form-data">
        <div class="input-group">
            <div class="input-group-prepend">
                <label class="input-group-text" for="categorySelect">Kat</label>
            </div>
            <select class="custom-select" id="categorySelect" ref="categorySelect">
                <option v-for="category in categories" :key="category.id" :value="category.id">{{category.name}}</option>
            </select>
        </div>
        <div class="input-group">
            <div class="custom-file">
                <label class="custom-file-label" for="imageFile">{{filename || "Kép kiválasztása"}}</label>
                <input type="file" @change="selectedFile" class="custom-file-input" accept="image/jpeg"
                    id="imageFile" ref="imageFile">
            </div>
            <div class="input-group-append">
                <button class="btn btn-outline-primary" type="submit">Feltöltés</button>
            </div>
        </div>
    </form>

    <div class="row">
        <div class=" col-sm-4 mb-4" v-for="image in images" :key="image.id">
            <div class="bg-primary text-white text-center p-2">
                <h5 class="card-title my-0 text-centered">{{image.image_category.name}}</h5>
            </div>                                    
            <img class="card-img-top" :src="image.thumbnail" alt="Card image cap" @click="() => openImage(image)">
            <div class="bg-primary text-white text-center p-2">
                <h5 class="card-title my-0 text-centered">Értékeléseidhez kattints a képre <i class="fas fa-hand-point-up"></i></h5>
            </div>
        </div>                            
    </div>

    <my-image-modal :image="selImg" @deleted="deleted"></my-image-modal>

    

    
</div>
</template>

<script>
import Noty from 'noty';
import MyImageModal from '../components/MyImageModal.vue';

export default {
    data() {
        return { filename: null, images: [], categories: [], selImg: {} };
    },
    components: {
        MyImageModal,
    },
    mounted() {
        fetchApi('GET', './photographer/categories', null, resp => {
            this.categories = resp;
            fetchApi('GET', './photographer/images', null, resp => {
                this.images = resp;
            });
        });
    },
    methods: {
        selectedFile(e) {
            this.filename = this.$refs.imageFile.value.split(/(\\|\/)/g).pop();
        },
        deleted(id) {
            this.images.splice(this.images.findIndex(x => x.id === id), 1);
        },
        openImage(image) {
            this.selImg = image;
            $("#myImageModal").modal();
        },
        upload() {
            let fd = new FormData();
            fd.append('image_category_id', this.$refs.categorySelect.value);
            fd.append('image', this.$refs.imageFile.files[0]);
            axios.post('./photographer/images', fd, {
                onUploadProgress: (evt) => {
                    console.log(evt.loaded*100/evt.total);
                }
            }).then(resp => {
                this.images.push(resp.data);
                new Noty({ type: 'success', text: 'Sikeres!', timeout: 2000 }).show();
            }).catch(e => {
                if (e.response) {
                    let res = '';
                    for (const key in e.response.data) {
                        if (e.response.data.hasOwnProperty(key)) {
                            const elm = e.response.data[key];
                            res += elm + "\n";
                        }
                    }
                    new Noty({ type: 'error', timeout: 2000, text: res }).show();
                } else new Noty({ type: 'error', text: 'Server error' }).show();
            });
        }
    }
}
</script>

<style scoped>
.custom-file-label::after {
    content: 'Tallózás'; 
}
.interestbuttons{
    padding:0.3rem 0rem!important;
}
.card-body{

    padding: 0.75rem!important;
}

.img-thumbnail{

    border: 0rem!important;
    padding: 0rem!important;
     

}
.card-footer{
    background-color: transparent!important;
    border: 0rem!important;
    
}

td{
    border-bottom: 1px solid #222;
}
#exampleModalLabel{
    text-align: center;
    color: #fff;
    

}
      .modal-header{
          background-color: #3490dc!important;
          border: 0rem!important;
      }

th{
    
    max-width: 100%;
}
.modal-footer{
    border-top: 0rem!important;
}

.modal-body{

    
    padding: 0rem!important;
}
table{
    margin-bottom: 0rem!important;
}

h2{
    padding:  0.5rem 0.1rem;

}


</style>