<template>
     <div>
        <form class="shadow-lg" @submit.prevent="upload" method="POST" enctype="multipart/form-data">
            <div class="input-group">
                <div class="custom-file">
                    <label class="custom-file-label" for="sponsorFile">{{filename || "Kép kiválasztása"}}</label>
                    <input type="file" @change="selectedFile" class="custom-file-input" accept="image/jpeg"
                        id="sponsorFile" ref="sponsorFile">
                </div>
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="submit">Feltöltés</button>
                </div>
            </div>
        </form>
        
        <ul class="list-group mt-3">
            <li class="list-group-item active shadow-lg"><h4 class="mb-0">Eddigi feltöltött szponzor képeim</h4></li>
            <li class="list-group-item my-2 shadow-lg" v-for="image in sponsorImages" :key="image.id">
                <img :src="image.location " class="w-100"/>
                <button type="button" @click="() => del(image.id)" class="btn btn-danger btn-sm mt-1 shadow-sm"><i class="fas fa-trash-alt mr-0"></i></button>
            </li>
        </ul>    
    </div>
</template>

<script>
import axios from 'axios';
import Noty from 'noty';

export default {
    data() {
        return { filename: null, sponsorImages: [] };
    },
    mounted() {
        fetchApi('GET', './admin/sponsor-images', null, resp => {
            this.sponsorImages = resp;
        });
    },
    methods: {
        selectedFile(e) {
            this.filename = this.$refs.sponsorFile.value.split(/(\\|\/)/g).pop();
        },
        del(id) {
            fetchApi('DELETE', './admin/sponsor-images/'+encodeURIComponent(id), null, () => {
                this.sponsorImages.splice(this.sponsorImages.findIndex(x => x.id === id), 1);
            });
        },
        upload() {
            let fd = new FormData();
            fd.append('image', this.$refs.sponsorFile.files[0]);
            axios.post('./admin/sponsor-images', fd, {
                onUploadProgress: (evt) => {
                    console.log(evt.loaded*100/evt.total);
                }
            }).then(resp => {
                this.sponsorImages.push(resp.data);
                new Noty({ type: 'success', text: 'Sikeres!', timeout: 2000 }).show();
            }).catch(e => {
                if (e.response) {
                    let res = '';
                    for (const key in e.response.data) {
                        if (e.response.data.hasOwnProperty(key)) {
                            const elm = e.response.data[key];
                            res += elm + "\n";
                        }
                    }
                    new Noty({ type: 'error', timeout: 2000, text: res }).show();
                } else new Noty({ type: 'error', text: 'Server error' }).show();
            });
        }
    }
}
</script>

<style scoped>
.list-group-item {
text-align: center!important;
   
}

.custom-file-label::after {
    content: 'Tallózás';
}

</style>
