<template>
    <div>
        <div>
            <div>
                <h1 class="text-center bg-primary text-white p-2">Verseny állása</h1>
            </div>
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="column"><button type="button" class="btn btn-primary my-3" @click="startComp">Verseny elindítása</button></div>
                    <div class="column"><button type="button" class="btn btn-danger my-3" @click="endComp">Verseny lezárása</button></div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <h3 class="text-center bg-primary text-white p-2">Idő</h3>
            </div>
            <div class="container">
                <div class="row d-flex justify-content-end">
                    <div class="column">  
                        <div class="input-group mb-2">
                            <input type="text" class="form-control">
                            <div class="input-group-append">
                                <span class="input-group-text">perc</span>
                                <button class="btn btn-primary" type="button">Mentés</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-group mb-4 shadow-lg">
            <div class="list-group-item list-group-item-action active"><h3 class="mb-0 text-center text-white">Abszolút versenyállás</h3></div>
            <div class="list-group-item list-group-item-action d-flex" v-for="result in results.overall" :key="result.id">
                <img :src="result.thumbnail" class="img-thumbnail" style="max-width: 100px; max-height: 100px;" />
                <h1 class="ml-4 mb-0 align-self-center">{{ result.points }} pont</h1>
            </div>
        </div>
        <div id="categorytable">
            <ul class="nav nav-pills" id="myTab" role="tablist">
                <li class="nav-item" v-for="cat in categories" :key="cat.id" style="cursor:pointer">
                    <div class="nav-link" :class="{ active: activeCategory === cat.id }"
                        data-toggle="tab" :href="`#cat-${cat.id}`">{{cat.name}}</div>
                </li>
            </ul>
            <div class="tab-content shadow-lg">
                <div v-for="cat in results.categories" class="tab-pane fade" :key="cat.id" :id="'cat-' + cat.id"
                    :class="{ active: activeCategory === cat.id, show: activeCategory === cat.id }">
                    <div class="list-group">
                        <div class="list-group-item list-group-item-action d-flex" v-for="result in cat.images" :key="result.id">
                            <img :src="result.thumbnail" class="img-thumbnail" style="max-width: 100px; max-height: 100px;" />
                            <h1 class="ml-4 mb-0 align-self-center">{{ result.points }} pont</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Szén -->


        <div class="modal fade" id="finishModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Verseny lezárása/elindítása</h5>
                        <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Biztos, hogy le akarod {{ isFinish ? 'zárni' : 'meg' }} akarod nyitni a versenyt?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" @click="modifyComp">Verseny {{ isFinish ? 'lezárása' : 'elindítása' }}</button>
                    </div>
                </div>
            </div>
        </div>



    </div>
</template>

<script>
export default {
    data() {
        return { categories: [], configs: [], results: [], activeCategory: 0, isFinish: false };
    },
    mounted() {
        fetchApi('GET', './admin/images/results', null, resp => {
            this.results = resp;
        });
        fetchApi('GET', './admin/configs', null, resp => {
            this.configs = resp;
        });
        fetchApi('GET', './admin/categories', null, resp => {
            this.categories = resp;
            this.activeCategory = this.categories[0].id;
        });
    },
    methods: {
        modifyComp() {
            fetchApi('PATCH', './admin/configs/is_running', { value: (!this.isFinish).toString() }, () => {
                $("#finishModal").modal('hide');
            });
        },
        startComp() {
            this.isFinish = false;
            $("#finishModal").modal();
        },
        endComp() {
            this.isFinish = true;
            $("#finishModal").modal();
        }
    }
}
</script>
<style scoped>


</style>
