<template>
    
<div>
    <div class="card mb-4 shadow-lg" style="width: 100%;">
        <div class="card-header bg-primary text-white">
            <h4 class="card-title mb-0 text-center">Látogatók száma</h4>
        </div>
        <div class="card-body">
            
        </div>
    </div>
    <div class="card mb-4 shadow-lg" style="width: 100%">
        <div class="card-header bg-primary text-white">
            <h4 class="card-title mb-0 text-center">Látogatók száma</h4>
        </div>
        <div class="card-body">
            
        </div>
    </div>
    <div class="card shadow-lg" style="width: 100%;">
        <div class="card-header bg-primary text-white">
            <h4 class="card-title mb-0 text-center">A zsűritagok által értékelt képek százalékos megoszlása</h4>
        </div>
        <div class="card-body">
            
        </div>
    </div>
    
</div>
</template>

<script>
export default {

}
</script>