<template>
    <div>
        <create-user-modal :role="newRole" @created="userCreated"></create-user-modal>
        <delete-user-modal :id="willDelete" @deleted="userDeleted"></delete-user-modal>

    <div class="card shadow-lg mb-4">

        <div class="card-header d-flex flex-wrap justify-content-between">
            <h3 class="ml-2 my-2 text-white">Vendégek</h3>
            <div class="d-block d-sm-none w-100"></div>
            <form class="form-inline mb-0">
                
                <div class="form-row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Keresés">
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-secondary w-100">Keresés</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="table-responsive">
            <table class="table table-dark mb-0">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Felhasználónév</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <user v-for="user in guests" :user="user" :key="user.id" @delete="openDelete"></user>
                </tbody>
            </table>
        </div>
        <pagination class="mt-3" :current-page="guestsPage"
            :total-pages="guestsMaxPage" @chpage="page => guestsPage = page"></pagination>
    </div>


    <div class="card shadow-lg mb-4">

        <div class="card-header d-flex flex-wrap justify-content-between">
            <h3 class="ml-2 my-2 text-white">Fotósok</h3>
            <div class="d-block d-sm-none w-100"></div>
            <form class="form-inline mb-0">
                <div class="form-row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Keresés">
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-secondary w-100">Keresés</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="table-responsive">
            <table class="table table-dark mb-0">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Felhasználónév</th>
                            <th scope="col">Logó</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <user v-for="user in photographers" :user="user" :key="user.id" @delete="openDelete"></user>
                    </tbody>
            </table>
        </div>    
        <pagination class="mt-3" :current-page="photographersPage"
            :total-pages="photographersMaxPage" @chpage="page => photographersPage = page"></pagination>
        
        <!-- Button trigger modal -->     
        <div class="card-footer text-center">
            <button type="button" class="btn btn-primary" @click="() => { this.newRole = 2; this.openModal(); }"><i class="fas fa-plus-square"></i></button>
        </div>
        <!-- Button trigger modal --> 

    </div>

    <div class="card shadow-lg">
      <div class="card-header d-flex flex-wrap justify-content-between">
          <h3 class="ml-2 my-2 text-white">Zsűritagok</h3>
          <div class="d-block d-sm-none w-100"></div>
          <form class="form-inline mb-0">
               <div class="form-row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Keresés">
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-secondary w-100">Keresés</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="table-responsive">
            <table class="table table-dark mb-0">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Felhasználónév</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <user v-for="user in juries" :user="user" :key="user.id" @delete="openDelete"></user>
                    </tbody>
            </table>
        </div>    
        <pagination class="mt-3" :current-page="juriesPage"
            :total-pages="juriesMaxPage" @chpage="page => juriesPage = page"></pagination>
        
        <!-- Button trigger modal -->     
        <div class="card-footer text-center">
            <button type="button" class="btn btn-primary" @click="() => { this.newRole = 1; this.openModal(); }"><i class="fas fa-plus-square"></i></button>
        </div>
    </div>
    </div>
</template>

<script>
import Pagination from '../components/Pagination.vue';
import User from '../components/User.vue';
import CreateUserModal from '../components/CreateUserModal.vue';
import DeleteUserModal from '../components/DeleteUserModal.vue';

export default {
    data() {
        return {
            guests: [], guestsPage: null, guestsMaxPage: 0,
            photographers: [], photographersPage: null, photographersMaxPage: 0,
            juries: [], juriesPage: null, juriesMaxPage: 0,
            newRole: 0, willDelete: 0,
        };
    },
    components: {
        Pagination,
        User,
        CreateUserModal,
        DeleteUserModal,
    },
    mounted() {
        this.guestsPage = 1;
        this.photographersPage = 1;
        this.juriesPage = 1;
    },
    methods: {
        openModal() {
            $("#createUserModal").modal();
        },
        openDelete(id) {
            this.willDelete = id;
            $("#deleteUserModal").modal();
        },
        userCreated(user) {
            if (this.newRole === 1) this.juries.push(user);
            else if (this.newRole === 2) this.photographers.push(user);
        },
        userDeleted() {
            let guestId = this.guests.findIndex(x => x.id === this.willDelete);
            let photographerId = this.photographers.findIndex(x => x.id === this.willDelete);
            let juryId = this.juries.findIndex(x => x.id === this.willDelete);
            if (guestId > -1) this.guests.splice(guestId, 1);
            if (photographerId > -1) this.photographers.splice(photographerId, 1);
            if (juryId > -1) this.juries.splice(juryId, 1);
        }
    },
    watch: {
        guestsPage(page) {
            fetchApi('GET', './admin/users?role=3&page='+encodeURIComponent(page), null, resp => {
                this.guests = resp.data;
                this.guestsMaxPage = resp.last_page;
            });
        },
        photographersPage(page) {
            fetchApi('GET', './admin/users?role=2&page='+encodeURIComponent(page), null, resp => {
                this.photographers = resp.data;
                this.photographersMaxPage = resp.last_page;
            });
        },
        juriesPage(page) {
            fetchApi('GET', './admin/users?role=1&page='+encodeURIComponent(page), null, resp => {
                this.juries = resp.data;
                this.juriesMaxPage = resp.last_page;
            });
        }
    }
}
</script>
<style scoped>
   
.card-header{
    background-color: #3490dc;
}
 
 .btn-secondary{

     background-color: #343a40;
 }

table{
      background-color: #ffffff;
}

th, td{
    color:#343a40;
}

.table thead th{
    border-bottom: 0rem!important
}

.table th, .table td{

    border-top: 0rem!important;
}
.table-dark{
    color: #343a40!important;
}
</style>