.dropdown-menu{
    border-radius: 1rem;
}

.dropdown-divider{
    margin: 0rem!important;
   border-top: 1px dotted #4e4b4b;
}

.nav-link{
    margin-right:  1rem;
}
.dropdown-item{
    padding:0.5rem 1.5rem!important;
}
.dropdown-item:hover{
    background-color: #3490dc;
    color:white;
}
.dropdown-item#topdrop:hover,.dropdown-item#topdrop2:hover{
    border-top-left-radius: 1rem!important;
    border-top-right-radius: 1rem!important;
}
.dropdown-item#botdrop:hover,.dropdown-item#botdrop2:hover{
    border-bottom-right-radius: 1rem!important;
    border-bottom-left-radius: 1rem!important;    
}
.dropdown-menu{
    padding: 0px!important;
}
.fas{
    color:white;
}
.navbar .fas {
    margin-right: 0.6rem;
}

.table-dark{
    background-color:#343a40;
}

h3{
    color: #343a40!important;
}
